*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main{
background: linear-gradient(180deg, #1EB918 2%, #CFF9F0 100%);
position: relative;
padding: 0px;
margin: 0px;
}
.head{
text-align: center;

}
h1{
    letter-spacing: 4.5px;
    font-size: 100px;
    margin-top: 0px;
    font-family: 'IM Fell DW Pica', serif;
}
p{
    font-size: 20px;
    text-align: justify;
}
.lista{
    line-height: 45px;
    font-family: 'Times New Roman', Times, serif;
}
.subtitulo{
    text-indent: 45px;
    font-size: 15px;
}
.subtitulo2{
    text-indent: 45px;
    font-size: 15px;
}
.subtitulo3{
    text-indent: 45px;
    font-size: 20px;
    line-height: 2.5px;
}
.subtitulo4{
    text-indent: 45px;
    font-size: 22px;
    line-height: 3.5px;
}
footer{
    background: linear-gradient(360deg, #1EB918 2%, #CFF9F0 100%);
    position: relative;
    display: block;
}

.conteudo-footer{
    display: inline-block;
    padding: 70px;

}

.sobre{
    width: 500px;
    height: 80px;
    text-align: justify;
}

.conteudo-footer a{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
}

.conteudo-footer h4{
    text-align: center;
}
.ancora{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    font-size: 17.5px;
}